@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a :focus,
a :active {
  outline: none;
}
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a :visited {
  color: deeppink;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: blueviolet;
  transition: all 0.5s;
}
ul li {
  list-style: inside;
  font-size: 1.5rem;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
html {
  font-size: 20px;
}
h1 {
  font-size: 2.5rem;
}
body {
  background-color: gray;
  font-family: "Nunito Sans", sans-serif;
}
.summary {
  background: url(./pics/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.5rem;
}
header h1 {
  margin-bottom: 1rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .left,
header .right {
  width: 45%;
}
header .right img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: fill;
}
header .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 1rem;
  --border-size: 3px;
  --border-angle: 0turn;
  background-image: conic-gradient(
      from var(--border-angle),
      #fccd4d 50%,
      #f8b500 51%,
      #fbdf93 100%
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px;
  animation: bg-spin 3s linear infinite;
}
header .left:hover {
  animation-play-state: paused;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
header .right {
  /* border: none; */
  position: relative;
  z-index: 0;
  min-height: 250px;
  min-width: 250px;
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
}
header .right:before, header .right:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}
@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
main {
  margin-top: 1rem;
}
.swiper {
  position: relative;
  top: 0px;
  border-radius: 30px;
  position: relative;
  border: 2px solid black;
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 30rem;
  height: 20rem;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0 7px 20px 0px gray;
  background: url(./pics/swiper-BG.webp);
  background-size: 100% 100%;
}
.swiper:hover {
  animation: swiper-up;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  box-shadow: 0 7px 20px 0px rgb(231, 39, 248);
}
@keyframes swiper-up {
  0% {
    top: 0;
  }
  100% {
    top: -10px;
  }
}
.swiper .slide {
  transition: all 0.5s;
  background-size: 100% 100%;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 1rem;
}
.swiper .slide .slide-info {
  display: flex;
  flex-direction: column;
}
.swiper .slide .slide-info .slide-info_title {
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
}
.swiper .slide .slide-info .slide-info_description {
  font-size: 1.2rem;
  margin: 1.5rem;
}
.swiper .slide .slide-arrow {
  color: rgb(15, 142, 221);
  opacity: 0.9;
  position: absolute;
  top: 50%;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.3s;
}
.swiper .slide .slide-arrow:hover {
  color: rgb(212, 78, 100);
  -webkit-animation-name: arrow-twitch;
  animation-name: arrow-twitch;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.swiper .slide .slide-arrow.arrowNext {
  right: 0;
}
.swiper .slide .slide-arrow.arrowPrev {
  left: 0;
  transform: rotate(180deg);
}
@keyframes arrow-twitch {
  0% {
    top: 50%;
  }
  100% {
    top: 49%;
  }
}
